[submodule "vendor/maplibre-gl-js"]
	path = vendor/maplibre-gl-js
	url = https://github.com/maplibre/maplibre-gl-js.git
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vendor/bootstrap-icons"]
	path = vendor/bootstrap-icons
	url = https://github.com/twbs/icons.git
[submodule "vendor/maplibre-preload"]
	path = vendor/maplibre-preload
	url = https://github.com/AbelVM/maplibre-preload.git
